<h1>Listing organizaciones</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizaciones.each do |organizacion| %>
  <tr>
    <td><%= link_to 'Show', organizacion %></td>
    <td><%= link_to 'Edit', edit_organizacion_path(organizacion) %></td>
    <td><%= link_to 'Destroy', organizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organizacion', new_organizacion_path %>
