/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./
 */
/* Estilos globales */

#sociedad #error_explanation {
  color: #000;
  border: 1px solid red;
  padding: 1px;
  background-color: #f0f0f0;
  font: x-small sans-serif;
}

#sociedad h1 {
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

/* Estilos para la página principal */

#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
#banner img {
  float: left;
}
#columns {
  background: #99CC99;
}
#main {
  margin-left: 11em;
  padding-top: 1em;
  padding-left: 1em;
  background: #E0F8F8;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 10em;
  background: #99CC99;
}
#side a {
  color: #bfb;
  font-size: small;
}
#lista {
  float: left;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 8em;
  background: #f0f0f0;
}
#main2 {
  margin-left: 9em;
  padding-left: 1em;
  background: #E0F8F8;
}
#notice {
  font: italic 1em "Arial Narrow";
  color: #FF0000
}

/* Estilos para personas/index */

#persona_list table {
  border-collapse: collapse;
}

#persona_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#persona_list .list_image {
  width: 60px;
  height: 70px;
}

#persona_list .list_description {
  width: 60%;
}

#persona_list .list_description dl {
  margin: 0;
}

#persona_list .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}

#persona_list .list_description dd {
  margin: 0;
}

#persona_list .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}

#persona_list .list_line_even {
  background: #BBFFBB;
}

#persona_list .list_line_odd {
  background: #7777DD;
}

/* Una entrada en el registro de una persona */

#sociedad  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#sociedad  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#sociedad .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#sociedad .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

#sociedad .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

#sociedad .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#sociedad .entry .add_to_cart {
  position: relative;
}

#sociedad .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}
